<section class="new-releases">
    <div class="main-title"><h2>Nuevos Lanzamientos</h2></div>
    {% for val in releases.albums.items %}
        <div class="album">
            <div class="album-images">
                <img src={{ val.images.0.url }} height="400" width="400">
            </div>
            <div class="album-name"><h4>{{ val.name }}</h4></div>
            <div class="artists">
                <ul>
                {% for artist in val.artists %}
                    <li><a href="/artista/{{ artist.id }}">{{ artist.name }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}   

</section>
