<section class="artist-info">
    <div class="artist-names">{{ artist.name }}</div>
    <div class="artist-image">
        <img src={{ artist.images.0.url }} height="400" width="400">
    </div>
</section>
<section class="artist-album">
    <div class="album-table">
        <h2>Álbum</h2>
        <table border="1" style="width:100%">
        <tr>
            <th>Foto del álbum</th>
            <th>Nombre del álbum</th> 
        </tr>
        {% for alb in album.items %}
        <tr>
            <td><img src={{ alb.images.0.url }} height="250" width="250"></td>
            <td><a href={{ alb.external_urls.spotify }}>{{ alb.name }}</a></td>
        </tr>
        {% endfor %}
        </table>
    </div>
</section>
